{% extends 'base.html.twig' %}

{% block title %}Recrutement{% endblock %}

{% block body %}
    <h2>Recrutement</h2>
    <button type="button" class="btn btn-primary">Primary</button>
{% endblock %}
